html {
  height: 100%;
  width: 100%;
}
body {
background-color: grey;
}
#container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

h1 {
    color: #333;
}

label {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    color: #555;
}

input {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 14px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 20px;
    font-size: 16px;
}